<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
    
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">

    <style>
        body { font-size: 13px;}
        .container {margin-top: 40px;}
        .btn, .form-control {border-radius: 0;}
    </style>
</head>
<body> 
    {% include 'partials/menu.html' %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>